<form action="/post/create" method="POST" enctype="multipart/form-data">

<div>

<label for="content">Escribe aquí tu post</label>
<input type="text" name="content">

</div>
<div>

<label for="pic">Sube tu imagen</label>
<input type="file" name="pic" >

</div>
<button>Post</button>

</form>