<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to IronTumblr</h1>
  <div >
      {{#each post}}
    <div class="post-card">
      <p>{{this.content}}</p>
      <img src="{{this.picPath}}" alt="imagen de post">
    </div>
      {{/each}}
  </div>


  </body>
</html>
